body{
    background-image: url(bglog.png);
    background-size: cover;
}

.container{
    perspective: 800px;
}

.card.flip {
    transform: rotateY(180deg) scaleX(-1);  
}

.card{
    width: 360px;
    height: 500px;
    transform-style: preserve-3d;
    position: relative;
    left:550px;
    transform: rotateY(0deg);
    transition: transform 1.1s ease-in;
    transform-origin: center;
}

.back{
    backface-visibility: hidden;
    transform: rotateY(180deg) scaleX(-1);
}

.signin,
.signup{
    top:50px;
    border: 3px rgb(150, 149, 149) solid;
    border-radius: 40px;
    width:360px;
    height:500px;
    position:absolute;
    background-color:rgb(255, 255, 255);
    padding: 30px;
}

.signup_title{
    color: rgb(95, 158, 160);
    font-family: Bowlby One;
    font-size: 25px;
    position: relative;
    left: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.signin_title{
    color: rgb(95, 158, 160);
    font-family: Bowlby One;
    font-size: 25px;
    position: absolute;
    left:50% ;
    transform: translateX(-50%);
}

.donnees,
.donnees_signup{
    position: relative;
    top:20px;
}

.signin form,
.signup form{
    font-family: Bowlby One;
    color: rgb(95, 158, 160);
    font-size:15px ;
    height: 450px ;
    padding-top: 60px;
    font-weight: 1000; 
}

.donnees label,
.donnees_signup label{
    position: relative;
    left:40px;
    bottom: 17px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
    font-size: 15px;
    transition: 0.3s ease;
}

.donnees input:focus ~ label,
.donnees input:not(:placeholder-shown) ~ label, 
.donnees_signup input:focus ~ label,
.donnees_signup input:not(:placeholder-shown) ~ label{ 
    bottom:40px;
    font-size: 12px;
    color: rgb(95, 158, 160);
}

.donnees input:focus,
.donnees_signup input:focus{
    color: rgb(95, 158, 160);
    outline: none;
}

.donnees input,
.donnees_signup input{
    position: relative;
    left:50%;
    transform: translate(-50%);
    margin-bottom: 5px;
    border-radius: 15px;
    width:80%;
    height:35px;
    border: 3px rgb(152, 149, 148) solid;
    background-color: transparent;
    top: 20px;
}

.signin button,
.signup button{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width:80%;
    height:40px;
    border-radius: 20px;
    border: 1px rgb(152, 149, 148);
    cursor: pointer;
    background-color: rgb(217,213,212);
    font-weight: 1000;
    transition: background-color 0.1s ease-in;
    margin-top: 20px;
}

.signin button:hover,
.signup button:hover{
    color: rgb(95, 158, 160);
    background-color: rgb(95, 158, 160);
    color: white;
}

.forget a{
    color: black;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    text-decoration: none;
    transition: color 0.2s ease-in;
    top:250px;
}

.forget a:hover{
    color: rgb(95, 158, 160);
}

#lien2{
    cursor: pointer;
    transition: color 0.2s ease-in;
    position: relative;
    left:115px;
    top:15px;
}

#lien{
    color: black;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    margin-top: 50px;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

#lien2:hover,
#lien:hover{
    color: rgb(85, 141, 143);
}

.partwo{
    margin-top: 40px;
}
